h1 Tweet from #{username}
p Hey! I just posted a tweet!
p=tweet.url
p Stay up to date with this twitter conversation #[a(href=tweet.url) here]
p This tweet was posted on #{tweet.created_at}
blockquote Thanks for viewing it. I am #[a(href="https://twitter.com/" + username) @#{username}] on twitter. I would like to hear from you about this tweet and anything else. 
blockquote You can respond me here under this medium story or feel free to tweet me @#{username} or email me at ali.abdulhannan@gmail.com
blockquote If you liked this tweet. Press the 💗  below. Thank you! Lots of love!